nose>=1.3.7<2.0.0
rstr==2.2.6
cdislogging
-e git+https://git@github.com/NCI-GDC/cdisutils.git@1.4.0#egg=cdisutils
-e git+https://git@github.com/NCI-GDC/psqlgraph.git@release/py3#egg=psqlgraph
-e git+https://git@github.com/uc-cdis/data-simulator.git@chore/py3#egg=datasimulator
-e git+https://git@github.com/uc-cdis/gdcdatamodel.git@chore/py3#egg=gdcdatamodel
